body {
    background-color: #d2d6de;
}

.input-group[class*=col-] {
    padding-left: 15px;
    padding-right: 15px;
}

.panel dl:not(:last-child) {
    border-bottom: 1px dotted lightgray;
    padding-bottom: 20px;
}
.multi-line-table {
    table-layout: fixed;
    word-wrap: break-word;
}
.siginout
{
    display: flex;
    justify-content: center;
    align-content: center;
}
.content-wrapper
{
    position: relative;
}
.chainiframe
{
    display: flex;
    justify-content:center;
    align-content: center;
    width: 100%;
    height:100%;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate3d(-50%, -50%,0);
    /*z-index: 9999;*/
}
iframe
{
    width:100%;
    height: 100%;
    border:none;
}
.form-control
{
    display: inline-block!important;
}
.block_query
{
    padding: 7px 15px;
    margin-left: 10px;
    color: white!important;
}